html, body{
	font-family: calibri;
	line-height: 30px;
	margin: auto;
	scroll-behavior: smooth;
}

a, span, h1{
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: normal;
	color: white;
}

#checkBox{
	display: none;
}

.backToTop{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

/*****Button Styling*****/
.button{
	background-color: #00802b;
	text-align: center;
	padding: 5px 0px;
}

/*****Card Styling*****/
.card{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
	min-width: 200px;
	min-height: 300px;
	padding: 10px 5px;
}
	.card h1{
		color: white;
		margin: 10px 10px;
	}
	
/*****Tabular Content Styling*****/
.tabContent{
	display: none;
}

	.tabContent h1{
		color: black;
	}
	
	/*****Tabular Content Sub Container Styling*****/
	.tabContent .sub-container{
		color: black;
		margin: 10px 0px;
		padding: 10px 0px;
	}
	
		.tabContent .sub-container img, .tabContent .sub-container iframe{
			height: 50vh;
			border: none;
			position: relative;
		}
		
		.tabContent .sub-container p{
			font-size: 1.2em;
			line-height: 30px;
			text-align: justify;
		}
		
			.tabContent .sub-container p span{
				color: black;
				font-size: 1.4em;
			}
			
	.tabContent:target{
		display: initial;
	}
	
	.tabContent:target .sub-container{
		display: grid;
	}
	
/*****Modal Window Styling*****/
.modal-container{
	position: fixed;
	top: 0%;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	overflow-x: hidden;
	transition: all 0.5s ease-in;
	background-color: rgba(0, 0, 0, 0.5);
}

	/*****Modal Content Styling*****/
	.modal-content{
		position: fixed;
		right: -200%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		padding: 0px 0px;
		background-color: transparent;
		transition: all 0.5s ease-in;
	}
	
		/*****Close Modal Button Styling*****/
		.modal-content .modal-close{
			width: 13px;
			padding: 0px 0px;
		}
		
		/*****Modal Player Image Styling*****/
		.modal-content img{
			height: 60vh;
			margin: 10px 0px;
		}
		
		/*****Modal Text Styling*****/
		.modal-content h1{
			font-size: 1.5em;
			margin-top: 5px;
		}
		
		.modal-content p{
			color: white;
			display: flex;
			flex-direction: column;
			font-size: 1.2em;
			line-height: 2rem;
			margin-top: -5px;
			margin-left: 20px;
		}
		
/*****News Content Styling*****/
.news{
	border-top: 0.5px solid #00802b;
}

	.news .competition-title{
		color: black;
		font-style: italic;
		font-weight: bold;
		text-align: right;
	}
	
	/*****News Content Styling*****/
	.news-content{
		width: 95vw;
		display: flex;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 10px 0px;
		margin: 10px 10px;
	}
	
		.newsCard{
			margin: 5px 10px;
		}
		
			.newsCard h1{
				font-size: 1em;
			}
		
/*****Header Styling*****/
header{
	position: sticky;
	top: 0%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	color: white;
	background-color: #00802b;
}

	/*****Logo Styling*****/
	#logo{
		max-width: 100px;
		max-height: 100px;
	}
	
/*****Main Content Styling*****/

	/*****Banner Styling*****/
	#mainContainer #banner{
		width: 100%;
		height: 92vh;
		position: relative;
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/bannerImage.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
	}
	
	#mainContainer .container{
		display: grid;
		grid-gap: 10px;
		padding: 10px 0px;
	}
	
/*****Footer Styling*****/
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 5px;
	background-color: #00802b;
}
	
/*********************************************************************************************************************************Responsive Layout**********/

/************************************************************************************************************************Mobile Layout**********/
@media only screen and (max-width: 600px){
	
	/*****Tabular Content Styling*****/
	.tabContent .backToTop{
		padding: 5px 5px;
	}
	
		/*****Tabular Content Sub Container Styling*****/
		.tabContent .sub-container img, .tabContent .sub-container iframe{
			width: 100%;
		}
		
		.tabContent .sub-container p{
			padding: 0px 5px;
		}
		
	.tabContent:target .sub-container{
		grid-template-columns: repeat(1, auto);
	}
	
	/*****Modal Window Styling*****/
	.modal-container{
		right: -200%;
	}
	
		/*****Modal Content Styling*****/
		.modal-content{
			width: 100vw;
		}
	
		.modal-container:target{
			left: 0%;
		}
		
		.modal-container:target .modal-content{
			right: 0%;
		}
	
	/*****Header Styling*****/
	header{
		padding: 10px 10px;
	}

		/*****Menu Styling*****/
		header #menu{
			position: fixed;
			left: -100%;
			top: 0%;
			width: 100%;
			height: 100vh;
			z-index: 1;
			background-color: #00802b;
			transition: all 0.5s ease-in-out;
		}
		
			header #menu a{
				display: block;
				font-size: 1.2em;
				text-align: center;
				line-height: 30px;
				margin: 20px 0px;
				padding: 10px 0px;
				border-top: 0.5px solid white;
			}
			
			/*****Close Menu Button Styling*****/
			header #menu #closeButton{
				display: block;
				width: 20px;
				font-size: 1.3em;
				margin: 10px 0px;
				padding: 5px 5px;
				margin-left: 94%;
			}
			
			/*****Display Menu When The Icon Is Pressed*****/
			#checkBox:checked ~ #menu{
				left: 0%;
			}
			
	/*****Main Content Container Styling*****/
	
		/*****Banner Styling*****/
		#mainContainer #banner h1{
			font-size: 2.4em;
		}
			
			#mainContainer #banner p{
				font-size: 1.3em;
			}
			
		#mainContainer .container{
			display: flex;
			flex-direction: column;
		}
		
	/*****Rules Page Styling*****/

		/*****Rules Links Container Styling*****/
		#rulesLinkContainer{
			display: grid;
			grid-template-columns: repeat(1, auto);
		}
		
	/*****Chatroom Page Styling*****/
	#chatBoardContainer{
		display: grid;
		grid-template-columns: repeat(1, auto);
		background-color: rgba(0, 0, 0, 0.5);
	}
	
		#chatBoardContainer .container{
			margin: 10px 0px;
			padding: 0px 0px;
		}
	
		/*****Message Controls Container Content Styling*****/
		
			/*****Input Message Field Styling*****/
			#inputMessageField{
				border: none;
				margin: 5px 5px;
				min-height: 100px;
				overflow-y: scroll;
			}
			
			/*****Send Message Button Styling*****/
			#sendMessageButton{
				width: 30%;
				border: none;
				color: white;
				text-transform: uppercase;
				margin: 5px 5px;
				padding: 10px 0px;
				background-color: #00802b
			}
		
		/*****Message Board Container Content Styling*****/
		
			/*****Message Board Styling*****/
			#messageBoard{
				min-height: 400px;
				overflow-y: scroll;
				margin: 5px 5px;
				background-color: white;
			}
			
				#messageBoard::before{
					color: gray;
					content: "Sent messages will display here";
					padding: 1px 3px;
				}
	
}

/************************************************************************************************************************Tablet Layout**********/
@media only screen and (min-width: 600px){
	
	/*****Tabular Content Styling*****/
	.tabContent .backToTop{
		padding: 5px 5px;
	}
	
		/*****Tabular Content Sub Container Styling*****/
		.tabContent .sub-container img, .tabContent .sub-container iframe{
			width: 100%;
		}
		
		.tabContent .sub-container p{
			padding: 0px 5px;
		}
		
	.tabContent:target .sub-container{
		grid-template-columns: repeat(1, auto);
	}
	
	/*****Modal Window Styling*****/
	.modal-container{
		right: -200%;
	}
	
		/*****Modal Content Styling*****/
		.modal-content{
			width: 100vw;
		}
	
		.modal-container:target{
			left: 0%;
		}
		
		.modal-container:target .modal-content{
			right: 0%;
		}
	
	/*****Header Styling*****/
	header{
		padding: 10px 10px;
	}

		/*****Menu Styling*****/
		header #menu{
			position: fixed;
			left: -100%;
			top: 0%;
			width: 100%;
			height: 100vh;
			z-index: 1;
			background-color: #00802b;
			transition: all 0.5s ease-in-out;
		}
		
			header #menu a{
				display: block;
				font-size: 1.2em;
				text-align: center;
				line-height: 30px;
				margin: 20px 0px;
				padding: 10px 0px;
				border-top: 0.5px solid white;
			}
			
			/*****Close Menu Button Styling*****/
			header #menu #closeButton{
				display: block;
				width: 20px;
				font-size: 1.3em;
				margin: 10px 0px;
				padding: 5px 5px;
				margin-left: 94%;
			}
			
			/*****Display Menu When The Icon Is Pressed*****/
			#checkBox:checked ~ #menu{
				left: 0%;
			}
			
	/*****Main Content Container Styling*****/
	
		/*****Banner Styling*****/
		#mainContainer #banner h1{
			font-size: 2.4em;
		}
			
			#mainContainer #banner p{
				font-size: 1.4em;
			}
			
	/*****Homepage Styling*****/
	#indexContentContainer{
		grid-template-columns: repeat(2, auto);
	}
	
	/*****Rules Page Styling*****/

		/*****Rules Links Container Styling*****/
		#rulesLinkContainer{
			display: grid;
			grid-template-columns: repeat(2, auto);
		}
		
	/*****Players Page Styling*****/
	#playersContentContainer{
		grid-template-columns: repeat(2, auto);
	}
	
		#playersContentContainer .card{
			font-size: 0.7em;
		}
		
	/*****Chatroom Page Styling*****/
	#chatBoardContainer{
		display: grid;
		grid-template-columns: repeat(1, auto);
		background-color: rgba(0, 0, 0, 0.5);
	}
	
		#chatBoardContainer .container{
			margin: 10px 0px;
			padding: 0px 0px;
		}
	
		/*****Message Controls Container Content Styling*****/
		
			/*****Input Message Field Styling*****/
			#inputMessageField{
				border: none;
				margin: 5px 5px;
				min-height: 100px;
				overflow-y: scroll;
			}
			
			/*****Send Message Button Styling*****/
			#sendMessageButton{
				width: 30%;
				border: none;
				color: white;
				text-transform: uppercase;
				margin: 5px 5px;
				padding: 10px 0px;
				background-color: #00802b
			}
		
		/*****Message Board Container Content Styling*****/
		
			/*****Message Board Styling*****/
			#messageBoard{
				min-height: 400px;
				overflow-y: scroll;
				margin: 5px 5px;
				background-color: white;
			}
			
				#messageBoard::before{
					color: gray;
					content: "Sent messages will display here";
					padding: 1px 3px;
				}
	
}

/*******************************************************************************************************************Laptop & Large Screen Layout**********/
@media only screen and (min-width: 992px){
	
	.backToTop{
		transition: color 1s;
	}
	
		.backToTop:hover{
			color: darkgray;
		}
		
	/*****Button Styling*****/
	.button{
		transition: background 1s;
	}
		
		.button:hover{
			background: #1d3030;
		}
		
	/*****Card Styling*****/
	.card{
		transition: all 0.5s ease-in-out;
	}
	
		.card:hover{
			transform: scale(1.1,1.1);
		}
	
	/*****Tabular Content Styling*****/
	.tabContent .backToTop{
		padding: 0px 0px;
	}
	
		/*****Tabular Content Sub Container Styling*****/
		.tabContent .sub-container img, .tabContent .sub-container iframe{
			width: 50vw;
		}
		
		.tabContent .sub-container p{
			padding: 0px 15px;
		}
		
	.tabContent:target .sub-container{
		grid-template-columns: repeat(2, auto);
	}
	
	/*****Modal Window Styling*****/
	.modal-container{
		right: -200%;
	}
	
		/*****Modal Content Styling*****/
		.modal-content{
			width: 30vw;
		}
		
			/*****Close Modal Button Styling*****/
			.modal-content .modal-close{
				transition: color 1s;
			}
			
				.modal-content .modal-close:hover{
					color: lightgray;
				}
		
			.modal-container:target{
				left: 0%;
			}
		
			.modal-container:target .modal-content{
				right: 0%;
			}
			
	/*****News Content Styling*****/
	.news{
		margin: 5px 10px;
		padding: 5px 5px;
	}
	
	/*****Header Styling*****/
		header label, header #menu #closeButton{
			display: none;
		}
		
		/*****Menu Styling*****/
		header #menu{
			position: initial;
			width: auto;
			height: auto;
		}
		
			header #menu a{
				display: initial;
				font-size: 1em;
				border: none;
				margin: 0px 5px;
				transition: color 1s;
			}
			
				header #menu a:hover{
					color: lightgray;
				}
				
	/*****Footer Styling*****/
	
		/*****Disclaimer Styling*****/
		footer #disclaimer{
			transition: color 1s;
		}
		
			footer #disclaimer:hover{
				color: lightgray;
				cursor: pointer;
			}
	
	/*****Homepage Styling*****/
	#indexContentContainer{
		grid-template-columns: repeat(4, auto);
	}
	
		#indexContentContainer .card{
			transition: background 1s;
		}
		
			#indexContentContainer .card:hover{
				background-color: black;
			}
	
	/*****Rules Page Styling*****/

		/*****Rules Links Container Styling*****/
		#rulesLinkContainer{
			display: grid;
			grid-template-columns: repeat(3, auto);
		}
		
	/*****Players Page Styling*****/
	#playersContentContainer{
		grid-template-columns: repeat(3, auto);
	}
			
	/*****Chatroom Page Styling*****/
	#chatBoardContainer{
		grid-template-columns: repeat(2, auto);
	}
	
		/*****Message Controls Container Content Styling*****/
		#messageControlsContainer{
			display: flex;
			flex-direction: column;
			border-right: 1px solid white;
		}
			
			/*****Send Message Button Styling*****/
			#sendMessageButton{
				height: 50px;
				transition: background 1s;
			}
			
				#sendMessageButton:hover{
					background: #1d3030;
					cursor: pointer;
				}
	
}